
.game-board {
  margin-bottom: 20px;
}

.board-row {
  display: flex;
}

button {
  margin-top: 10px;
  padding: 10px 20px;
  font-size: 16px;
}

.slider {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 600px;
  margin: auto;
  text-align: center;
}

.slider-image {
  width: 30%;
  max-width: 600px;
  height: auto;
}

.slider-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 10px;
  cursor: pointer;
  font-size: 16px;
}

.slider-button:hover {
  background-color: #0056b3;
}




